.DS_Store

*.svn-base

.svn*

*.o

*.a

sdhash-jni/target

sdhash-jni.jar

external/project-config.jam*

external/b2

*.log

external/bjam

external/tools/build/v2/engine/bootstrap/jam0

external/tools/build/v2/engine/bin.macosxx86_64/b2

external/tools/build/v2/engine/bin.macosxx86_64/bjam

sdhash-jni/nb-configuration.xml
